extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='productStock-add-form' name='productStock-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-4')
                label(for='product') Product
            div(class='col-md-3')
                select(id='product' name='product' class='form-control' required='required')
                    option(value='' selected='selected') Select Product
        div(class='form-group')
            div(class='col-md-4')
                label(for='stock') Stock
            div(class='col-md-3')
                select(id='stock' name='stock' class='form-control' required='required')
                    option(value='' selected='selected') Select Stock
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' id='btn-create' class='btn btn-primary') Create
                input(type='hidden' id='update-item' name='update-item')
        div.list-wrapper
            table(id='productStock-list')
block append scripts
    script(src='/static/js/models/product.js')
    script(src='/static/js/models/stock.js')
    script(src='/static/js/models/productStock.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/productStock.js')
